<div class="card">
    <h2>
      <span *ngIf="quiz.theme === 'Actor'">
        <i class='fas fa-film'></i>
    </span>
    <span *ngIf="quiz.theme === 'Sport'">
        <i class='fas fa-running'></i>
    </span>
    <span *ngIf="quiz.theme === 'Fun'">
      <i class="fas fa-dice"></i>
    </span>
        Nom : {{quiz.name}}
    </h2>
    <h3>
      <span>Theme : {{quiz.theme}}</span>
    </h3>
    <div>{{quiz.questions.length}}</div>
    <div *ngIf="quiz.creationDate != null">
			<h4>
				<span>{{quiz.creationDate | date:'dd/MM/yy HH:mm'}}</span>
			</h4>
		</div>
    <button class="button-card" (click)="selectQuiz()">Select</button>
    <nav>
      <a [routerLink]="['/edit-quiz', quiz.id]">
        <button class="button-card" >Edit</button>
      </a>
    </nav>
    <button class="button-card" (click)="deleteQuiz()">Delete</button>
</div>
